.large-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 80px 900px 50px;
    grid-template-areas: 
    "hd"
    "title"
    "content"
    "ft";
}

.box {
    border: 2px solid;
    border-color: yellowgreen;
    background: lightgrey;
}

a:link {
    text-decoration: none;
    color: #85c7c7;
}
  
a:visited {
    text-decoration: none;
    color: #85c7c7;
}

a:hover {
    color: #8c8c8c;
}

a:active {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header li, .footer li {
    display: inline;
}

.header {
    grid-area: hd;
}

.header, .title, .content, .footer {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 100%;
    grid-template-areas: "centre";
    justify-content: center;
}

#content {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "blog sd"
    "blog links";
}
.title {
    grid-area: title;
}

.blog {
    grid-area: blog;
}

.sidebar {
    grid-area: sd;
}

.links {
    grid-area: links;
}

.footer {
    grid-area: ft;
}

#header, #footer {
    display: grid;
    grid-template-columns: 50% 25% 12.5% 12.5%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "logo nav lang face";
    align-items: center;
}

.logo {
    grid-area: logo;
}

#navtop {
    grid-area: nav;
}

.langbar {
    grid-area: lang;
}

.face {
    grid-area: face;
}
