@media (max-width: 900px) {

    /* General Layout of blog-*.html for Large Devices*/
    .large-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 0px 80px 600px 40px;
        grid-template-areas: 
        "hd"
        "wel"
        "title"
        "content"
        "ft";
        justify-content: center;
        align-content: center;
    }

    /* Boxes for visual aid in determining the UI*/
    .box {
        border: 1px solid;
        border-color: yellowgreen;
    }

    /* Assigning the Grid Area Layout: Index Website */
    .header {
        grid-area: hd;
        background-color: black;
    }

    .welcome {
        grid-area: wel;
    }

    .title {
        grid-area: title;
        background: #fafafa;
    }

    .content {
        grid-area: content;
        background: #fafafa;
    }

    .footer {
        grid-area: ft;
        background-color: rgb(197, 194, 194);
    }

    .header, .welcome, .title, .content, .footer {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-content: center;
    }

    .centre {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "blog blog"
        "sd links";
    }

    .blog {
        grid-area: blog;
    }

    .sidebar {
        grid-area: sd;
    }

    .links {
        grid-area: links;
    }

    /* Styling the links */
    a:link {
        text-decoration: none;
        color: #f1ffff;
    }
    
    a:visited {
        text-decoration: none;
        color: #f1ffff;
    }

    a:hover {
        color: #8c8c8c;
    }

    a:active {
        text-decoration: none;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, p {
        margin: 0px;
        padding: 0px;
    }

    /* Using a Grid Display to determine the Layout of the Header Navigation Bar. Applying Ghost Grid Areas (xx) to evenly distribute content horizontally */
    #header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas: 
        "logo logo logo"
        "xx fc nav"
        "xx fc nav"    
        "xx fc lb";
    }

    /* Assigning the Grid Area Layout: Header Nav Bar */
    .logo {
        grid-area: logo;
        text-align: right;
    }

    .face {
        grid-area: fc;
        background-image: url("moi-black.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navbar {
        grid-area: nav;
    }

    .langbar {
        grid-area: lb;
    }

    .navbar, .langbar {
        text-align: right;
    }

    .blog {
        display: grid;
        justify-content: center;
    }

    /* Hidding the Footer Nav Bar for Small Displays */
    #nav-bottom{
        display: none;
    }

}