@media (max-width: 900px) {

    .large-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 80px 600px 140px 40px;
        grid-template-areas: 
        "hd"
        "title"
        "content"
        "ft";
        justify-content: center;
        align-content: center;
    }

    /*.box {
        border: 2px solid;
        border-color: yellowgreen;
        background: lightgrey;
    }*/

    /* Assigning the Grid Area Layout: Blog Website */
    .header {
        grid-area: hd;
        background-color: black;
    }

    .title {
        grid-area: title;
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: ft;
        background-color: rgb(197, 194, 194);
    }

    .header, .title, .content, .footer {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-content: center;
    }

    .centre {
        grid-area: centre;
        justify-content: center;
        align-content: center;
    }

    /* Styling the links */
    a:link {
        text-decoration: none;
        color: #f1ffff;
    }
    
    a:visited {
        text-decoration: none;
        color: #f1ffff;
    }

    a:hover {
        color: #8c8c8c;
    }

    a:active {
        text-decoration: none;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, p {
        margin: 0px;
        padding: 0px;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, p {
        margin: 0px;
        padding: 0px;
    }

    #header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas: 
        "logo logo logo"
        "xx fc nav"
        "xx fc nav"    
        "xx fc lb";
    }

    /* Assigning the Grid Area Layout: Header Nav Bar */
    .logo {
        grid-area: logo;
        text-align: right;
    }

    .face {
        grid-area: fc;
        background-image: url("moi-black.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navbar {
        grid-area: nav;
    }

    .langbar {
        grid-area: lb;
    }

    .navbar, .langbar {
        text-align: right;
    }

    .blog {
        display: grid;
        justify-content: center;
    }

    /* Hidding the Footer Nav Bar for Small Displays */
    #nav-bottom{
        display: none;
    }

}