@media (min-width: 1401px) {

    /* General Layout of index-*.html for Large Devices*/
    .large-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px repeat(3, 300px) 50px;
        grid-template-areas: 
        "hd"
        "wel"
        "blog"
        "pf"
        "ft";
        justify-content: center;
        align-content: center;
    }

    /* Boxes for visual aid in determining the UI*/
    .box {
        border: 2px solid;
        border-color: yellowgreen;
    }

    /* Assigning the Grid Area Layout: Index Website */
    .header {
        grid-area: hd;
    }

    .welcome {
        grid-area: wel;
    }

    /* Creating the Welcome Card (Hidden card) */
    #welcome-card {
        width: 300px;
        display: grid;
        display: block;
        border: 1px solid;
        border-color: red;
        border-radius: 2.5%;
    }

    #welcome {
        height: 300px;
        background: url("moi.jpg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .blog {
        grid-area: blog;
    }

    .portfolio {
        grid-area: pf;
    }

    .footer {
        grid-area: ft;
    }

    .header, .welcome, .blog, .portfolio, .footer, #welcome-face {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-content: center;
    }

    .centre {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .header, .footer {
        background-color: black;
    }
    
     /* Styling the links */
    a:link {
        text-decoration: none;
        color: #85c7c7;
    }
    
    a:visited {
        text-decoration: none;
        color: #85c7c7;
    }

    a:hover {
        color: #8c8c8c;
    }

    a:active {
        text-decoration: none;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, p {
        margin: 0px;
        padding: 0px;
    }

    /* Styling the lists */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }

    /* Using a Grid Display to determine the Layout of the Header/Footer Navigation Bar */
    #header, #footer {
        display: grid;
        grid-template-columns: 50% 25% 12.5% 12.5%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "logo nav lang face";
        display: grid;
    }

    /* Assigning the Grid Area Layout: Header Nav Bar */
    .logo .copy {
        grid-area: logo;
    }

    .face {
        grid-area: face;
    }

    .nav {
        grid-area: nav;
    }

    .langbar {
        grid-area: lang;
    }

    .nav, .langbar {
        text-align: center;
    }

    /* Using Grid Display to justify and align the content within their respective Div Containers, thus centering their content horizontally and vertically respectively*/
    .welcome, .blog, .portfolio {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    /* Creating the Cards used to advertise the Blog and Project Posts */
    .card {
        width: 300px;
        display: grid;
        display: inline-block;
        border: 1px solid;
        border-color: red;
        border-radius: 2.5%;
        background: grey;
    }

}