@media (min-width: 1401px) {

    .large-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px repeat(3, 300px) 50px;
        grid-template-areas: 
        "hd"
        "wel"
        "blog"
        "pf"
        "ft"
    }

    .box {
        border: 2px solid;
        border-color: yellowgreen;
        background: lightgrey;
    }

    a:link {
        text-decoration: none;
        color: #85c7c7;
    }
    
    a:visited {
        text-decoration: none;
        color: #85c7c7;
    }

    a:hover {
        color: #8c8c8c;
    }

    a:active {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        display: inline;
    }

    .header, .welcome, .blog, .portfolio, .footer {
        grid-area: hd;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 100%;
        grid-template-areas: "centre";
        justify-content: center;
    }

    #header, #footer {
        display: grid;
        grid-template-columns: 50% 25% 12.5% 12.5%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "logo nav lang face";
        align-items: center;
    }

    .logo {
        grid-area: logo;
    }

    #navtop {
        grid-area: nav;
    }

    .langbar {
        grid-area: lang;
    }

    .face {
        grid-area: face;
    }

    .welcome {
        grid-area: wel;
    }

    #welcome {
        background-image: url("moi-black.jpg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .blog {
        grid-area: blog;
    }

    .portfolio {
        grid-area: pf;
    }

    .footer {
        grid-area: ft;
    }

    .centre {
        grid-area: centre;
    }

    #navtop {
        position: fixed;
    }

}