@media (min-width: 901px) and (max-width: 1400px) {

    /* General Layout of index-*.html for Medium Devices*/
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 300px 80px 600px 50px;
        grid-template-areas: 
        "hd"
        "wel"
        "title"
        "content"
        "ft";
        justify-content: center;
        align-content: center;
        font-family: Poppins;
        font-size: 0.7em
    }

    /* Boxes for visual aid in determining the UI*/
    .box {
        border: 1px solid yellowgreen;
    }

    /* Assigning the Grid Area Layout: Index Website */
    .header {
        grid-area: hd;
        background-color: black;
    }

    .welcome {
        grid-area: wel;
        background-image: #fafafa;
    }

    .title {
        grid-area: title;
        background:  #e9e9e9;
        background-image: linear-gradient(to right, white, #e9e9e9, #e9e9e9, #e9e9e9, #e9e9e9, #e9e9e9, #e9e9e9, white);
    }

    .content {
        background-image: #fafafa;
    }

    #content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "blog"
        "pf";
        background: rgb(233,233,233, 0.7);
        height: 580px;
        border-radius: 8%;
    }

    .blog {
        grid-area: blog;
    }

    .portfolio {
        grid-area: pf;
    }

    .blog, .portfolio {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer {
        grid-area: ft;
        background-color: rgb(197, 194, 194);
    }

    .header, .welcome, .title, .content, .footer {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-content: center;
    }

    .centre {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .langbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .langbar a {
        padding: 1.5px;
    }

     /* Styling the links */
    a:link {
        text-decoration: none;
        color: #f1ffff;
    }
    
    a:visited {
        text-decoration: none;
        color: #f1ffff;
    }

    a:hover {
        color: #9999ff;
    }

    a:active {
        text-decoration: none;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, h4, p {
        margin: 0px;
        padding: 0px;
    }

    /* Using a Grid Display to determine the Layout of the Header/Footer Navigation Bar */
    #header, #footer {
        display: grid;
        grid-template-columns: 50% 25% 12.5% 12.5%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "logo nav face lang";
        display: grid;
    }

    /* Assigning the Grid Area Layout: Header Nav Bar */
    .logo .copy {
        grid-area: logo;
        border: 1px solid;
    }

    .copy {
        font-size: 1.5em;
    }

    .logo {
        font-family: Iceland;
        font-size: 2.5em;
    }

    .face {
        grid-area: face;
    }

    .navbar {
        grid-area: nav;
    }

    .langbar {
        grid-area: lang;
    }

    .navbar, .langbar {
        text-align: center;
    }

    /* Using Grid Display to justify and align the content within their respective Div Containers, thus centering their content horizontally and vertically respectively*/
    .welcome {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    /* Creating the Welcome Card (Hidden card) */
    #welcome-card {
        width: 300px;
        display: grid;
        display: block;
        border-radius: 2.5%;
        text-align: center;
        font-size: 1.5em;
        background: radial-gradient(#c8bdd1, #e9e2ee, #fafafa, #fafafa, white, white, white);
    }

    #welcome {
        height: 300px;
        background: url("moi-fafafa.jpg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
    }

    button:hover {
        background-color: rgb(60, 143, 62);
    }

    /* Creating the Cards used to advertise the Blog and Project Posts */
    .card {
        width: 200px;
        height: 200px;
        display: grid;
        border: 1px solid #ddd;
        border-radius: 2.5%;
        background: rgb(197, 194, 194, 0.3);
        justify-items: center;
        align-items: center;
        font-size: 0.7em;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 150px;
    }

}