@media (max-width: 900px) {

    /* General Layout of index-*.html for Small Devices*/
    .large-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 240px 180px 300px 300px 60px;
        grid-template-areas: 
        "hd"
        "wel"
        "blog"
        "pf"
        "ft";
        justify-content: center;
        align-content: center;
    }

    /* Boxes for visual aid in determining the UI*/
    .box {
        border: 2px solid;
        border-color: yellowgreen;
    }

    /* Assigning the Grid Area Layout: Index Website */
    .header {
        grid-area: hd;
    }

    .welcome {
        grid-area: wel;
    }

    .blog {
        grid-area: blog;
    }

    .portfolio {
        grid-area: pf;
    }

    .footer {
        grid-area: ft;
    }

    .header, .footer {
        background-color: black;
    }

    /* Styling the links */
    a:link {
        text-decoration: none;
        color: #85c7c7;
    }
    
    a:visited {
        text-decoration: none;
        color: #85c7c7;
    }

    a:hover {
        color: #8c8c8c;
    }

    a:active {
        text-decoration: none;
    }

    /* Removing default Margin and Padding*/
    h1, h2, h3, p {
        margin: 0px;
        padding: 0px;
    }

    /* Styling the lists */
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* Using a Grid Display to determine the Layout of the Header Navigation Bar. Applying Ghost Grid Areas (xx) to evenly distribute content horizontally */
    #header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas: 
        "logo logo logo"
        "xx fc nav"
        "xx fc nav"    
        "xx fc lb";
    }

    /* Assigning the Grid Area Layout: Header Nav Bar */
    .logo {
        grid-area: logo;
        text-align: right;
    }

    .face {
        grid-area: fc;
        background-image: url("moi-black.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .nav {
        grid-area: nav;
    }

    .langbar {
        grid-area: lb;
    }

    .nav, .langbar {
        text-align: right;
    }

    /* Using Grid Display to justify and align the content within their respective Div Containers, thus centering their content horizontally and vertically respectively*/
    .blog, .portfolio {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    /* Creating the Cards used to advertise the Blog and Project Posts */
    .card {
        width: 300px;
        display: grid;
        display: inline-block;
        border: 1px solid;
        border-color: red;
        border-radius: 2.5%;
        background: grey;
    }

    /* Hidding the Footer Nav Bar for Small Displays */
    #nav-bottom{
        display: none;
    }

}